{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ post.title_tag }}
{% endblock %}

{% block content %}
<section class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Trade Nepal</a></li>
        <li>Trade Bulletin</li>
      </ol>
      <h2>Post a content</h2>

    </div>
  </section><!-- End Breadcrumbs -->
  <br/><br/><br/><br/><br/>
        
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Post</button>
            </form>
    
  
{% endblock content %}