{% extends 'base.html' %}
{% load static %}


{% block content %}

 


  <main id="main">
    
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{%url 'home'%}">Home</a></li>
          <li>Blog</li>
        </ol>
        <h2> {{ cats }} -category</h2>

      </div>
    </section><!-- End Breadcrumbs -->
<ul>
{% for post in category_posts %}
<li>
  <a href="{% url 'article-detail' post.pk %}">{{ post.title}}</a>
  -{{ post.post_date }}
  -{{ post.category }}
    <hr>
    <br/>
    {{ post.body |slice:":50"|safe}}
    {{ post.author.first_name}}
    {{ post.author.last_name}}
    - 
    {% if user.is_authenticated %}
    <a href="{% url 'update_post' post.pk %}">Edit</a>
    <a href="{% url 'delete_post' post.pk %}">Delete</a>
    {% endif %}
</li>


{% endfor %}
</ul>
    


    <!-- ======= Blog Section ======= -->
    

  </main><!-- End #main -->

  {% endblock content %}
  


